
/* Змінні */
:root{
/* Font */
--main-font: Roboto, sans-serif;
--secondary-font: Raleway, sans-serif;
/* Text  */
--white-txt-cl: #FFFFFF;
--primery-txt-cl:#4D5AE5;
--pressed-txt-cl:#404BBF;
--dark-txt-cl:#2E2F42;
--text:#434455;
--light-txt-cl:#F4F4FD;
--success:#31D0AA;
--success-75: rgba(47, 208, 170, 0.75);
--success-50: rgba(47, 208, 170, 0.50);
--success-10: rgba(47, 208, 170, 0.10);
--subtle-txt-cl:#8E8F99;
--accent-txt-cl:#E7E9FC;
/* Background */
--white-bg-cl: #FFFFFF;
--primery-bg-cl: #4D5AE5;
--pressed-bg-cl: #404BBF;
--dark-bg-cl: #2E2F42;
--dark-70: rgba(46, 47, 66, 0.7);
--dark-40: rgba(46, 47, 66, 0.4);
--text-bg-cl: #434455;
--light-bg-cl: #F4F4FD;
--subtle-bg-cl: #8E8F99;
--accent-bg-cl: #E7E9FC;

/* Other */
--border-radius: 4px;
--indent: 24px;
--items: 3;
}

/* Base styles */


 .page {
background-color: var(--white-bg-cl);
color: var(--text);
font-family: var(--main-font);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
/* Reset start */
h1,
h2,
h3,
p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
/* Reset end */
.link{
    text-decoration: none;
    font-family: inherit;
}
 .list {
    list-style: none;
 }


 /* h3 */
 .title {
color: var(--dark-txt-cl);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
 }

 /* h2 */
.section-title {
    text-align: center;

    color: var(--dark-txt-cl);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.button {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    letter-spacing: 0.04;
    
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    
    }
        .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
    .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

       }
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
       
    }

 /**
  |============================
  | Header 
  |============================
*/

.page-header {
border-bottom: 1px solid var(--accent-bg-cl);
}
    


.logo {
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--dark-txt-cl);
    text-transform: uppercase;
    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    font-weight: 800;
}

.logo:hover,
.logo:focus {
    color: var(--pressed-txt-cl);
}

.logo-web {
    color: var(--primery-txt-cl);
    text-transform: uppercase;
}

.logo-web:hover,
.logo-web:focus {
    color: var(--pressed-txt-cl);

}

.logo-web .link {
    padding-top: 24px;
    padding-bottom: 24px;
}
/* Site-nav */
.site-nav {
    display: flex;
    margin-left: 76px;
}

.main-nav {
    display: flex;
    align-items: center;
    
} 

.site-nav .item:not( :last-child) {
margin-right: 40px;
}

.logo-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    }

.site-nav .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--dark-txt-cl);
    font-weight: 500;
    
    
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--pressed-txt-cl);
}

.site-nav .link.current {
    color: var(--primery-txt-cl);
}

.auth-nav {
    display: flex;
    margin-left: auto;
}

.auth-nav .item + .item {
    margin-left: 40px;
}

.auth-nav .link {
    color: var(--text);
    padding-top: 24px;
    padding-bottom: 24px;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--pressed-txt-cl);
}


/**
  |============================
  | Footer
  |============================
*/

.footer {
padding-top: 100px;
padding-bottom: 100px;
color: var(--accent-txt-cl);
background-color: var(--dark-bg-cl);
}

.logo-footer{
display: block;
width: 115px;
margin-bottom: 16px;
color: var(--light-txt-cl);
text-transform: uppercase;
font-family: var(--secondary-font);
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
font-weight: 800;
}

.logo-footer:hover,
.logo-footer:focus{
    color: var(--pressed-txt-cl);
}

.footer-txt {
    width: 264px;
   
}
/**
  |============================
  | Розмітка головної сторінки index.html
  |============================
*/

/**
  |============================
  | Hero section
  |============================
*/

.hero{
    padding-top: 188px;
        padding-bottom: 188px;
text-align: center;
background-color:var(--dark-bg-cl);
}
 
.hero-box {
  
    }


.hero-title{
width: 496px;
margin-bottom: 48px;
margin-left: auto;
margin-right: auto;

color: var(--white-txt-cl);
font-family: 'Roboto';
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;

}


/* Button  */
.button-hero {
    min-width: 169px;
    padding: 16px 32px;
    border-radius: var(--border-radius);
    border: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--white-txt-cl);
    background-color: var(--primery-bg-cl);
        
    }
.button-hero:hover,
.button-hero:focus {
color: var(--white-txt-cl);
background-color: var(--pressed-bg-cl);
}

/**
  |============================
  | Section 1 Features
  |============================
*/

.features {
    display: flex;
    column-gap : var(--indent);
}
.features-title {
    width: 264px;

}

.features-text {
    width: 264px;
    margin-top: 8px;
    font-size: var(--main-font);
}



/**
  |============================
  |  Section 2 Item
  |============================
*/
 .items {
    padding-top: 0;
}

.items-list {
display: flex;
flex-wrap: wrap;
gap: var(--indent);
flex-basis: calc((100% - var(--indent) * (var(--items)-1)) / var(--items) );

margin-top: 72px;

}

/**
  |============================
  | Section 3 Team list
  |============================
*/

.team-box {
background: var(--light-bg-cl);
}

.team-list{
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
    --items: 4;
    flex-basis: calc((100% - var(--indent) * (var(--items)-1)) / var(--items));
     margin-top: 72px;
            }
.team-item {
padding: 32px 0px 32px 0px;
}
.person{
    background-color: var(--white-bg-cl);
    width: 264px;
    border-radius: 0px 0px 4px 4px
}

.team-title {
    text-align: center;
}

.team-text {
    text-align: center;
    margin-top: 8px;
}

/**
  |============================
  | Розмітка сторінки ПОРТФОЛІО
  |============================
*/

.filter {
   padding-top: 96px; 
   padding-bottom: 120px;
}
/* Button of filter */
.button-filter {
        align-items: center;
        justify-content: center;
        gap: 24px;
            
       }

.button-filter-all {
        color: var(--primery-txt-cl);
        background-color: var(--light-bg-cl);
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        height: 48px;
        width: 69px;
        font-family: inherit;
        padding: 12px 24px 12px 24px;
        border: 1px solid var(--accent-bg-cl);
        border-radius: var(--border-radius);
            }
.button-filter-all:hover,
.button-filter-all:focus{
    color: var(--white-txt-cl);
    background-color: var(--pressed-bg-cl);
}
        
.button-filter-web {
    color: var(--primery-txt-cl);
    background-color: var(--light-bg-cl);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    height: 48px;
    min-width: 116px;
    font-family: inherit;
    padding: 12px 24px 12px 24px;
    border: 1px solid var(--accent-bg-cl);
    border-radius: var(--border-radius);
    }
.button-filter-web:hover,
.button-filter-web:focus{
    color: var(--white-txt-cl);
    background-color: var(--pressed-bg-cl);
}

.button-filter-app {
    color: var(--primery-txt-cl);
    background-color: var(--light-bg-cl);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    height: 48px;
    width: 78px;
    font-family: inherit;
    padding: 12px 24px 12px 24px;
    border: 1px solid var(--accent-bg-cl);
    border-radius: var(--border-radius);
    }
.button-filter-app:hover,
.button-filter-app:focus {
    color: var(--white-txt-cl);
    background-color: var(--pressed-bg-cl);
}

.button-filter-design {
    color: var(--primery-txt-cl);
    background-color: var(--light-bg-cl);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    height: 48px;
    width: 101px;
    font-family: inherit;
    padding: 12px 24px 12px 24px;
    border: 1px solid var(--accent-bg-cl);
    border-radius: var(--border-radius);
}
.button-filter-design:hover,
.button-filter-design:focus {
    color: var(--white-txt-cl);
    background-color: var(--pressed-bg-cl);
}
.button-filter-marketing {
    color: var(--primery-txt-cl);
    background-color: var(--light-bg-cl);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    height: 48px;
    width: 126px;
    font-family: inherit;
    padding: 12px 24px 12px 24px;
    border: 1px solid var(--accent-bg-cl);
    border-radius: var(--border-radius);
}
.button-filter-marketing:hover,
.button-filter-marketing:focus {
    color: var(--white-txt-cl);
    background-color: var(--pressed-bg-cl);
}

/**
  |============================
  | Examples of works
  |============================
*/
.img {
    display: block;
}
.example {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
    --items: 9;
    flex-basis: calc((100% - var(--indent) * (var(--items)-1)) / var(--items));
    row-gap: 48px;
    margin-top: 72px;
}

.example-link {
    color: currentColor;
}


.example-item {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px solid var(--accent-bg-cl);
    border-top: none;
}

.example-txt {
margin-top: 8px;
font-size: 16px;
line-height: 1.2;
}
    
     